// UTILS
@mixin bg-cover($path: false, $size: cover, $position: center center) {
	@if $path {
		background-image: url($path);
	}
	background-size: $size;
	background-position: $position;
}

.flex-xy {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-y {
	display: flex;
	align-items: center;
}

.flex-text-x {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
}

.pb-a {
	padding-bottom: $spacer;
}

.py-a {
	padding-top: $spacer;
	padding-bottom: $spacer;
}

.py-b {
	padding-top: $spacer * 2;
	padding-bottom: $spacer * 2;
}

.py-c {
	padding-top: $spacer * 3;
	padding-bottom: $spacer * 3;
}

.py-d {
	padding-top: $spacer * 4;
	padding-bottom: $spacer * 4;
}

.py-e {
	padding-top: $spacer * 5;
	padding-bottom: $spacer * 5;
}

.mw-lg {
	max-width: 800px;
}

.row-md-reverse {
	@include media-breakpoint-up(md) {
		flex-direction: row-reverse;
	}
}

.animated-gradient-bg {
	background: linear-gradient(-45deg, $color-g, $color-d, $color-e, $color-f);
	background-size: 400% 400%;
	animation: animated-gradient 7.5s ease alternate infinite;
}

.bg-secondary {
	color: $color-h;
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: $white;
	}
}

.bg-white {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: $secondary;
	}
	color: $body-color;
}
// BASE
* {
	position: relative;
}

html {
	font-size: $font-size-root;
	scroll-behavior: smooth;
}

section {
	@extend .py-d;
}

// COMPONENTS
.btn {
	text-transform: uppercase;
}

.btn-animated {
	@extend .text-white, .animated-gradient-bg;
}

.btn-d {
	background-color: $color-d;
}
// LAYOUT

// PAGE(s)
#page-home {
	section#hero {
		min-height: 65vh;
	}

	section#highlights {
		.highlight-img-holder {
			@include bg-cover('../images/highlights/bg.png');

			img {
				@extend .img-fluid;
			}
		}
	}

	section#pricing {
		@extend .bg-secondary;
		background-image: url('../images/cubes.svg');

		.pricing-factor {
			@extend .bg-white, .p-2, .flex-text-x;
			height: 100%;
			border-left: 6px solid $primary;

			i {
				@extend .py-a;
				color: $color-h;
				font-size: 2rem;
			}

			&:hover {
				i {
					color: $primary;
					transform: rotate(25deg);
					transition: transform 0.25s;
				}
			}

			p {
				margin-bottom: 0.5rem;
			}

			small {
				color: $color-h;
				margin-bottom: 0.8rem;
			}
		}
	}

	section#testimonials {
		.testimonial {
			@extend .p-3, .m-2, .mt-3;
			box-shadow: 0 3px 8px 8px $color-i;
			height: calc(100% - 1.5rem);

			.profile-image-holder {
				@extend .mb-3;
				margin-top: -2rem;
				width: 60px;
				height: 60px;
				background-color: $primary;

				img {
					@extend .img-fluid;
				}
			}

			.content {
				display: flex;
				height: 80%;
				flex-direction: column;
				justify-content: space-between;

				p {
					@extend .mb-2;
				}

				h5 {
					@extend .mb-0;
				}
			}
		}
	}
}

// ANIMATIONS
@keyframes animated-gradient {
	0% {
		background-position: 0% 50%;
	}
	100% {
		background-position: 100% 50%;
	}
}
