// color
$color-a: #8e79fc;
$color-b: #2b2b51;
$color-c: #58678c;
$color-d: #e73c7e;
$color-e: #23a6d5;
$color-f: #23d5ab;
$color-g: #ee7752;
$color-h: #95a0bc;
$color-i: #f3f3f3;

$primary: $color-a;
$secondary: $color-b;

$theme-colors: (
	'primary': $primary,
	'secondary': $secondary,
	'd': $color-d,
	'success': $color-f,
	'info': $color-e,
	'warning': $color-g,
	'danger': $color-d
);

// typography
$headings-color: $secondary;
$headings-font-family: 'IBM Plex Sans', sans-serif;
$headings-font-weight: 600;
$body-color: $color-c;
$font-family-sans-serif: 'Heebo', sans-serif;
$font-size-root: 20px;
$headings-margin-bottom: $font-size-root/1.25;

//btn
$input-btn-padding-y: 0.5rem;
$input-btn-padding-x: 1.5rem;
$input-btn-font-family: $headings-font-family;
$input-btn-font-size: 0.75em;
$btn-font-weight: $headings-font-weight;

//general
$border-radius: 0.1rem;
